.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;

    span {
        color: #9c27b0;
    }
}

.container {
    width: 80%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .header-text {
            font-size: 24px;
        }
    }
}

table {
   width: 100%;
   border: 1px solid black;

   .mat-header-row {
        background-color: #ccc;
   }
   .mat-header-cell {
        font-weight: 500;
        font-size: 20px;
   }

   .mat-cell {
        font-size: 16px;
   }

   .mat-cell.mat-column-name {
        font-weight: 500;
   }

   .mat-cell.mat-column-dob, .mat-cell.mat-column-sex {
        font-weight: 400;
    }

    .mat-row:nth-child(even){
        background-color: #f4f4f4;
    }

    .mat-row td {
        border-top: none;
        border-bottom: 1px solid #b4b4b4;
    }

    .mat-row:last-child td {
        border-bottom: none;
    }
}